* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;

        .navLogo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 40%;

            .logo {
                font-size: 20px;
                text-decoration: none;
                color: black;
            }

            ul {
                display: flex;
                width: 60%;
                padding-left: 30px;
                align-items: center;
                gap: 20px;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        font-size: 17px;
                        color: gray;
                        transition: 300ms;
                    }

                    a:hover {
                        color: rgb(98, 98, 98);
                    }

                }
            }
        }

        .navContainer {
            padding-top: 30px;
            padding-bottom: 30px;
            display: flex;
            justify-content: space-between;
            width: 82%;


        }

        .navWrapper {
            display: flex;
            align-items: center;

            .cart {
                width: 120px;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid black;
                font-size: 15px;
                transition: 300ms;
                cursor: pointer;
                background-color: white;

                i {}

                span {
                    background-color: black;
                    padding: 5px;
                    border-radius: 50%;
                    color: white;
                }

            }
            .cart:hover {
                background-color: black;
                color: white;
            }
            
        }
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        background-color: rgb(31, 31, 31);

        .headerContainer {
            text-align: center;


            color: white;

            h1 {
                font-size: 3.5rem;
                font-family: Georgia, 'Times New Roman', Times, serif;

            }

            p {
                color: rgb(172, 172, 172);
                font-size: 23px;
                padding-top: 10px
            }

            ;
        }
    }
}

.content {
    //section 
    display: flex;
    justify-content: center;
    align-content: center;
    height: 110vh;
    padding-top: 40px;

    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
        width: 82%;
        padding-bottom: 40px;
        padding-top: 40px;

        .card {
            border: 1px solid gray;
            border-radius: 10px;
            height: 45%;
            width: 22%;
            position: relative;
            overflow: hidden;


            .cardImg {
                position: relative;
                height: 40%;

                img {

                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }

            .productInfo {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                height: 35%;
            }

            .button {
                display: flex;
                justify-content: center;
                padding-top: 20px;

                button {
                    width: 117px;
                    height: 40px;
                    transition: 300ms;
                    cursor: pointer;
                    background-color: white;
                    border-radius: 10px;
                }
                button:hover {
                    background-color: black;
                    color: white;

                }

            }

        }
    }
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17vh;
    background-color: rgb(31, 31, 31);

    p {
        font-size: 17px;
        font-family: 'Times New Roman', Times, serif;
        color: white;
    }
}